:root
{
    --spacing: 1rem;
}

html
{
    font-size: 62.5%;
}

body
{
    font-size: 1.6rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

main
{
    flex-grow: 1;
}

footer
{
    background: var(--hn-bg);
}

.main-content
{
    padding: 0 var(--spacing);
}

.hn-section-brand > .hn-item [class|="ri"]
{
    font-size: 2.8rem;
    font-weight: bold;
}

.hn-item [class|="ri"]
{
    font-size: 2.2rem;
}